@font-face {
    font-family: poppins;
    src: url("../font/Poppins/Poppins-Regular.ttf");
}
@font-face {
    font-family: bricolage;
    src: url("../font/bricolage/BricolageGrotesque-VariableFont_opsz,wdth,wght.ttf");
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%; 
}

body {
    background-image: url("../images/Event-page .svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; 
    background-attachment: fixed; 
}

.cover{
    width: 100%;
    height: 300px;

    background-image: url();
}

#stardew {
    border-radius: 20px;
}

h1 {
    color: white;
    font-family: poppins;
    font-size: 36px;
    margin-bottom: 5px;
}

#content {
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2%;
    margin-top: 30px;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    margin-top: -30px;
}


.content2 {
    display: flex;
    flex-direction: row;    
    align-items: center;      
    width: fit-content;  
    margin-top: 1px;  
}

.text {
    font-family: bricolage;
    color: white;
    font-size: 13.7px;
    margin: 0;
    padding: 0;
    margin-right: 15%;
}


.guest-info { display: flex; 
    align-items: center; 
    gap: 10px; 
    margin: 15px 0; 
    font-family: bricolage;
    font-size: 13.7px;
    margin-top: 5px;
}

.avatars { 
    display: flex;
    align-items: center; 
}
.avatar {
    width: 25px; 
    height: 25px; 
    border-radius: 50%;
    margin-left: -8px;
}
.avatar:first-child {
margin-left: 0; 
}
.description{
    font-family: poppins;
    background-color: cadetblue;
    padding: 2px 5px;
}

.description img{
    width: 20px;
    height: auto;
    vertical-align: middle;
}
hr{
    width: 100%;
    border: none;
    height: 2px;
    background-color: black;
}
h3{
    color: black;
    font-family: poppins;
    font-size: 11px;
}
.details p{
    color:black;
    font-family: bricolage;
    font-size: 13px;   
}
.details ul{
    color: black;
}