@font-face {
    font-family: poppins;
    src: url("/font/Poppins/Poppins-Regular.ttf");
}

@font-face {
    font-family: poppinsBold;
    src: url("/font/Poppins/Poppins-SemiBold.ttf");
}

body {
    margin: 0;
    min-height: 100vh;

    background-image: url("/images/Landing Page.png");
    background-size: cover;
    background-position: center;

    overflow: hidden;
    position: relative;
}

/* Dark Overlay */
body::before {
    content: "";

    position: absolute;
    inset: 0;

    background: rgba(0,0,0,0.45);

    z-index: 0;
}

/* Sign In */
#login {
    position: absolute;

    top: 35px;
    right: 40px;

    z-index: 5;

    text-decoration: none;
    color: white;

    font-family: poppinsBold;

    background: rgba(255,255,255,0.25);

    padding: 12px 26px;

    border-radius: 100px;

    backdrop-filter: blur(5px);
}

/* Content */
#content {
    position: relative;
    z-index: 2;

    padding-left: 8%;
    padding-top: 10%;

    max-width: 650px;
}

/* Logo */
#content {
    position: relative;
    z-index: 2;

    padding-left: 8%;
    padding-top: 8%;
}

/* TEXT IMAGE */
#text-image {
    width: 700px;
    max-width: 100%;

    height: auto;

    display: block;
}

/* BUTTONS */
#buttons {
    display: flex;
    align-items: center;

    gap: 30px;

    margin-top: 40px;
}
#content {
    position: relative;
    z-index: 2;

    padding-left: 8%;
    padding-top: 8%;
}

/* TEXT IMAGE */
#text-image {
    width: 700px;
    max-width: 100%;
left: 20%;
    height: auto;

    display: block;
}

/* BUTTONS */
#buttons {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 40%;
}



#explore {
    background: #00d26a;

    color: black;

    text-decoration: none;

    padding: 18px 36px;

    border-radius: 100px;

    font-family: poppinsBold;
}

#host {
    color: white;

    text-decoration: none;

    font-family: poppinsBold;

    font-size: 18px;
}

/* Statue */
#statue {
    position: absolute;

    right: -3%;
    bottom: 0;

    width: 52%;

    max-width: 900px;

    z-index: 1;
}

/* Responsive */
@media (max-width: 768px) {

    #content {
        padding-top: 25%;
        max-width: 90%;
    }

    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 42px;
    }

    #statue {
        width: 85%;

        right: -25%;

        opacity: 0.45;
    }

    #buttons {
        flex-direction: column;
        align-items: flex-start;
    }
}